.chatSideBarLayout {
    width:75%;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:0.6rem;
    text-align: left;
    font-size:0.7rem;
}
.chatUserAvatar {
    width:3.4rem;
    padding:0.2rem 0;
}
.messagePanelUserInfo {
    display:flex;
    flex-direction:column;    
    justify-content: center;
    gap:0.5rem;
}
.messagePanelUserInfo h1,h2 {
    font-size:1rem;
    font-weight:500;
    margin:0;
}
.messagePanelUserInfo h2 {
    font-size:0.8rem;
    color:#2c982e;

}
.modalFriendActions {
    width:40%;
    display:flex;
    gap:1rem;
}
.groupAvatarContainer {
    background:#4d64a3;
    color:#fff;
    font-size:1.5rem;
    font-weight:400;
    border-radius:50%;
    text-align: center;
    display:grid;
    place-items:center;
    width:3rem;
    height:3rem;
    margin:1rem 0;
}
.groupAvatarContainer img {
    max-width:100%;
    border-radius:50%;
}