body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body,html,#root {
    height: 100%;
}
  
body,html {
    background-color: #F6F6F6;
    font-family: 'Inter';
    color: #343434;
}
  
h1 {
    margin: 0;
}
  