form {
    width: 100%;
    margin: 0 2rem;
}
.loginImg {
    max-width: 25rem;
    aspect-ratio: 1/1;
}
.footerText {
    font-size:1.1rem;
    margin: 0.7rem 0;
    text-align: center;
    & :last-child {
        text-decoration: underline;
        color: #353840;
        font-weight:500;

    }
    & :last-child:hover {
        opacity:0.8; 
    }
}
.welcome {
    text-align: center;
    font-size:2rem;
    margin-bottom:1rem;
}
.nameFieldRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
  