.footerText {
    font-size:1.1rem;
    margin: 0.7rem 0;
    text-align: center;
    & :last-child {
        text-decoration: underline;
        color: #353840;
        font-weight:500;
    }
    & :last-child:hover {
        opacity:0.8; 
    }
    @media screen and (max-width:768px) {
        font-size:0.9rem;
    }
}
.welcome {
    text-align: center;
    font-size:2rem;
    margin-bottom:1rem;

    @media screen and (max-width:768px) {
        margin:0.5rem;
    }
}
.nameFieldRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    @media screen and (max-width:768px) {
        gap: 0.2rem;
    }
}
.profileUpdate {
    text-align: center;
    font-size:1rem;
    margin-top:1rem;
}